@import url("base.css");/*导入默认CSS样式表*/
header {
	width: 100%;
	height: .88rem;
	background: rgb(248,118,48);
	padding: 0 0.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header > a {
	text-decoration: none;
	font-size: 0.3rem;
	color: #FFFFFF;
}
header > h1 {
	font-size: .3rem;
	color: #FFFFFF;
	font-weight: normal;
} 
.scroll {
	width: 100%;
	height: .8rem;
	background: rgb(255,138,81);
	overflow: hidden;
}
.scrollWrap {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: .25rem;
	white-space: nowrap;
}
.scrollWrap > li {
	display: inline-block;
	font-size: 0.3rem;
	color: #FFFFFF;
	margin-right: 0.3rem;
}
.list {
	position: absolute;
	top: 1.68rem;
	bottom: 0;
	width: 100%;
	/*background: red;*/
}

.store {
	width: 100%;
	text-align: center;
	margin-top: .24rem;
}
.titel {
	opacity: 0.88;
	font-size: .24rem;
	margin-top: .2rem;
}
.control {
	width:7.02rem;
	height: 0.23rem;
	margin: auto;
	margin-top: .1rem;
	/*background: gold;*/
	display: flex;
	justify-content: space-between;
}
.control p {
	width: 1rem;
	height: .23rem;
	font-size: .24rem;
	opacity: 0.7;
}
.control p a {
	text-decoration: none;
	font-size: .24rem;
	color: #000;
	opacity: 0.7;
}
.control p a.first {
	opacity: 1;
}
/*店铺*/
.shop {
	width: 100%;
	margin-top: .24rem;
	overflow: hidden;
	margin-bottom: .98rem;
	padding-bottom: .24rem;
}
.shop li {
	width: 7.02rem;
	height: 2.27rem;
	margin: auto;
	background-color: #eae9e9;
	margin-top: .3rem;
	border-radius: .1rem;
	display: flex;
	justify-content: space-between;
}
.l {
	width: 2.6rem;
	height: 100%;
	/*background: red;*/
}
.l img {
	width: 2.6rem;
	height: 1.59rem;
}
.r {
	width:4.2rem;
	height: 100%;
	/*background: blue;*/
}
.r-1{
	font-size: .28rem;
}
.r-2 {
	color:#fca92d;
	display: flex;
	margin-top:.05rem ;
}
.r-2 i:nth-child(5) {
	color: #cccccc;
}
.r-2 span {
	color: #000;
	font-size: .18rem;
	opacity: 0.4;
}
.r-3 {
	margin-top:-1.1rem ;
	font-size: .2rem;
	opacity: 0.4;
}
.r-4 {
	margin-top:.1rem ;
	display: flex;
}
.r-4 img {
	width: .53rem;
	height: .25rem;
}
.r-4 span {
	
	font-size: .2rem;
	opacity: 0.4;
}